# Created by .ignore support plugin (hsz.mobi)
# IntelliJ файлы проекта
.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
build/
npm-debug.*
source/css/
style.css
style.min.css
Thumbs.db
