/* .changePass .inp-required {
*  
*  &:invalid {
*  border: 1px solid $border-required;
*  }
*
*  &:valid {
*    border: 2px solid $border-valid;
*  }
*
* }  */

.changePass .inp-required:valid {
  border: 2px solid $border-valid;

}

.changePass .FormGroup1{
  width: 800px;

  margin: 0 auto;
}

.changePass .changepassInfo {
  border: 2px solid $bd-warning;
}

.changePass .changepassInfo p, ul {
  font-size: 0.9rem;
}