.mainFooter {
  justify-content: center;
  width: 100%;

  background-color: #475162;

  box-shadow: 0 -0.5rem 1rem 0 rgba(56,57,92,.5);
  z-index: 100;
}

.mainFooter .footerWrapper {
  width: inherit;
  justify-content: space-between;

  margin: 0 3rem 2rem;
  padding: 0;

  @media (max-width: 1200px) {
    margin: 0 1.5rem 1.5rem;
  }
}

.mainFooter .footerHeader {
  padding-top: 30px;

  font-size: .9rem;
  font-weight: 600;
  line-height: 1.5rem;

  color: white;
}

.mainFooter .footerItems {
  margin: 0;
  padding: 0;
  //padding-left: 1rem;
  margin-bottom: 1.5rem;

  list-style: none;
}

.footerItems .footerItem {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.5rem;

}

.blockInfo .footerItem{
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;

  @media (max-width: 1200px) {
    font-size: 0.8rem;
  }
}

.footerLink {
  color: #6ea9ea;

  &:visited {
    color: #aea3ff;
  }
  &:hover {
    color: #97c7dd;
    text-decoration: none;
  }
}

.mainFooter p {
  margin: 0;
  padding: 0;

  color: $gray-light;

  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;

  @media (max-width: 1200px) {
    font-size: 0.8rem;
  }
}

