@import "../variables";

.menu {
  display: flex;
  flex-direction: column;
  //flex: 1 1 auto;
  position: relative;
  width: 250px;
  //height: 100%;
  min-width: 250px;
  overflow-y: auto;
  visibility: hidden;

  padding: 0;
  margin: 0;
  margin-left: -250px;

  background-color: $white;
  box-shadow: 0 0.5rem 1rem 0 $shadow-global;

  z-index: -100;

  transition-property: margin-left, margin-top;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-delay: initial;

  &--active {
    z-index: 10;
    visibility: visible;
    margin-left: 0;
  }

  @media (max-width: 992px) {
    justify-content: flex-start;

    width: 100%;
    min-width: initial;
    height: initial;
    margin-top: -285px;
    margin-left: 0;
    visibility: hidden;
    z-index: -100;

    &--active {
      z-index: 10;
      visibility: visible;

      margin-top: 0;
    }
  }
}

.navParent {
  position: relative;
  display: block;

  border-bottom: 1px solid $bd-menu;
}

.menu .navParent > .nav-link {
  display: flex;

  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5rem;

  color: $menu-li;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  align-items: center;

  padding: 1rem .5rem 1rem 1.2rem;

  &:hover {
    color: $menu-li-hover;
  }

  @media (max-width: 992px) {
    &:hover {
      background-color: $bg-menu;
    }
  }
}

.menu .navParent--active .nav-link {
  color: $color-active;
}

.nav-link .menuTitle {
  flex-grow: 1;

  @media (max-width: 992px) {
    flex-grow: 0;
  }
}

.nav-link .leftIcon {
  font-size: 1.2rem;
  width: 1.1em;
  margin-right: 0.5em;
  text-align: center;
  vertical-align: middle;

  color: $icon-color;
}

.arrow svg {
  font-size: 1.3rem;
  line-height: 1rem;
  width: 1.1em;
  margin-right: 0.5em;
  margin-left: 0.5rem;
  text-align: center;
  vertical-align: middle;

  color: $icon-color;
}

.navParent .nav-link:hover svg {
  color: $menu-li-hover;
}

//--------Меню второго уровня
.menu .menuItems {
  margin: 0;
  padding: 0 0.625rem;
  list-style: none;
  overflow: hidden;
}

.menuItem {
  color: $menu-li;

  font-family: Open Sans, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;

  border-bottom: 1px solid $bd-menu;

  &:first-child {
    border-top: 1px solid $bd-menu;
  }
}

.menuItems > .menuItem .nav-link {
  display: flex;
  //justify-content: center;

  text-decoration: none;
  align-items: center;
  color: $menu-li;

  padding: 0.75rem 1rem;
  border: 0 solid transparent;

  font-family: Open Sans,sans-serif;
  font-style: inherit;
  font-size: .8125rem;
  font-weight: 600;
  line-height: 1.5rem;

  &:hover {
    color: $menu-li-hover;
  }

  @media (max-width: 992px) {
    &:hover {
      background-color: $bg-menu;
    }
  }
}
