.page-orders .addCheckForm{
  margin-bottom: 7rem;
}

.navAndFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

.pagination {
  margin: 0;
  padding: 0;
}

.filterBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0 0.5rem;
  //padding-right: 0.5rem;

  background-color: $white;
  border-radius: 10px;
  border: 1px solid $gray-light;

  box-sizing: border-box;

  cursor: pointer;
  transition: all 0.5s linear;
  &:hover {
    color: $menu-li-hover;
    border: 1px solid transparent;

    box-shadow: 0 3px 8px 0 $shadow-global-plus;
    .iconFilter {
      color: $menu-li-hover;
    }
  }
}

.iconFilter {
  width: 1.4rem;
  height: 2.4rem;

  font-size: 1.5rem;
  //line-height: 1.5rem;
  color: $color-active;

}

.iconFilter svg {
  width: 1.4rem;
  height: 2.4rem;
}

.filterBtn_text {
  padding: 0 0.5rem;
  word-wrap: unset;
  white-space: nowrap;
}


.card {
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem 0 $shadow-global-plus;
  margin-bottom: 2rem;

  &:hover {
    box-shadow: 0 0.6rem 0.8rem 0 $shadow-global-hover;
  }

  @media (max-width: 992px) {
    padding: 1rem;
  }
}
.tableOrders {
  background-color: #fff;
}


.tableOrders tbody tr:nth-of-type(odd) {
  background-color: $row-light;
}

.table-hover tbody tr:hover {
  background-color: $tr-hover;
}
