.page-orders .addCheckForm{
  margin-bottom: 7rem;
}

.navAndFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

.filterWrapper {
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;
}

.iconFilter {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;

  font-size: 1.5rem;
  //line-height: 1.5rem;
  color: $color-active;
  background-color: $white;
  cursor: pointer;

  border-radius: 50%;

  &:hover {
    color: $menu-li-hover;
  }
}

.iconFilter svg {
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
}


.card {
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem 0 $shadow-global-plus;
  margin-bottom: 2rem;

  @media (max-width: 992px) {
    padding: 1rem;
  }
}
.tableOrders {
  background-color: #fff;
}


.tableOrders tbody tr:nth-of-type(odd) {
  background-color: $row-light;
}

.table-hover tbody tr:hover {
  background-color: $tr-hover;
}
