.registrars {
  display: flex;
  flex-direction: column;
  justify-content: center;


  padding: 2rem;

  box-shadow: 0 0.5rem 1rem 0 $shadow-global;
  margin-bottom: 3rem;

  @media (max-width: 992px) {
    padding: 2rem;
  }

  border-radius: 10px;
  background-color: #fff;
}

.registrars p {
  padding: 0;
  margin-bottom: 0;
}


.registrars .questItem {
    align-items: center;
  
    border: none;
    cursor: pointer;
  
    box-shadow: 0 0 0.9rem 0 rgba(44,51,73,.2);
    //padding: 1rem 0;
  }
  
  .registrars .questHeaderWrapper {
    border-bottom: 1px solid $table-bd;
  }
  
  .registrars .questHeader {
    background-color: #fff;
  }
  
  .registrars .btnPause, .registrars .btnPlay {
    padding: 0;
    margin: 0;
  
    border: none;
    background-color: transparent;
  }
  
  .pauseIcon, .playIcon {
    width: 35px;
    height: 35px;
  
    padding: 0;
    margin: 0 1rem;
    font-size: 2rem;
  }
  
  .pauseIcon {
    color: $bgc-btn-del;
    background-color: transparent;
  
    &:hover {
      color: $bgc-btn-del-hover;
    }
  }
  
  .playIcon {
    color: $bgc-btn-add;
    background-color: transparent;
  
    &:hover {
      color: $bgc-btn-add-hover;
    }
  }