.page-stores .questItem {
  align-items: center;

  border: none;
  cursor: pointer;

  box-shadow: 0 0 0.9rem 0 rgba(44,51,73,.2);
  //padding: 1rem 0;
}

.page-stores .questHeaderWrapper {
  border-bottom: 1px solid $table-bd;
}

.page-stores .questHeader {
  background-color: #fff;
}

.page-stores .btnPause {
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
}

.pauseIcon {
  padding: 0;
  margin: 0 1rem;
  font-size: 2rem;

  color: $bgc-btn-del;
  background-color: transparent;

  &:hover {
    color: $bgc-btn-del-hover;
  }
}