body{
  font-family: "OpenSans", "Arial", "Tahoma", sans-serif;
  @include fontParams();
  background-color: $bg-page;
}

.visuallyHidden {
  @include visuallyHidden();
}

.flexContainer {
  display: flex;
  
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.sectionBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
  margin-bottom: 3rem;
  border-radius: 10px;

  background-color: #fff;
  // box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
  // border-radius: 5px;
  // padding: 25px;
}

.parentSelect {
  position: relative;

  &::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
  }
}

.parentSelect .select {

  background-image: none; /* убираем фон */

  -webkit-appearance: none;/* Chrome */
  -moz-appearance: none;/* Firefox */
  appearance: none;/* убираем дефолнтные стрелочки */
  font-family: inherit;/* наследует от родителя */
  font-size: 1rem;
  line-height: 20px;

  width: 100%;
  height: 46px;
  padding: 0 15px;

  color: $black;
  background-color: $white;

  border: 1px solid $border-normal;
  border-radius: .25rem;/* скругление полей формы */

  transition: all .3s ease 0s;

  &:focus {
    border: 2px solid $focus-color;
  }

}

.page-header {
  font-weight: 600;
}

 .was-validated .select:valid {
   padding-right: calc(1.5em + 1.5rem);
   background-repeat: no-repeat;
   background-position: center right calc(.375em + 1.2rem);
   background-size: calc(.75em + .375rem) calc(.75em + .375rem);
 }
.was-validated .select:invalid {
  padding-right: calc(1.5em + 1.5rem);
  background-repeat: no-repeat;
  background-position: center right calc(.375em + 1.2rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.warningIcon {
  width: 24px;
  height: 24px;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: unset;
  background-color: transparent;

  font-size: 1.3rem;

  color: $bgc-btn-del;
}

.unlockIcon, .blockedIcon {
  width: 2rem;
  height: 2rem;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: unset;
  background-color: transparent;

  font-size: 1.3rem;
}

.unlockIcon {
  color: $gray555;

  &:hover {
    color: $black;
  }
}

.blockedIcon {
  color: $bgc-btn-del;

  &:hover {
    color: $bgc-btn-del-hover;
  }
}

.editIcon, .delIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  word-break: keep-all;

  font-family: Open Sans,sans-serif;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 1.3rem;

  //color: $icon-color;
  background-color: transparent;

  text-align: center;
  text-decoration: none;
  border-right: 1px solid $table-bd;
  box-sizing: border-box;
}

.editIcon {
  color: $color-active;

  &:hover {
    color: $menu-li-hover;
  }
}

.delIcon {
  color: $bgc-btn-del;

  border-right: none;

  &:hover {
    color: $bgc-btn-del-hover;
  }

}

jdiv.wrap_3s {
  display: none;
}