// Основные цвета
$black: black;
$white: white;
$gray333: #333;
$gray555: #555;
$gray-light: #ccc;
$logo-color: #6364ED;
$bg-page: #edf1f7;
$shadow-global: rgba(44,51,73,.1);
$shadow-global-plus: rgba(44,51,73,.4);
$link-gray: rgba(88, 115, 144, 0.8);

//Цвета бордеров полей формы
$border-fieldset: rgba(180, 180, 180, 1); //рамка блока fieldset на странице создания чека
$border-normal: #ced4da;
$border-required: #e49b9b;
$invalid-bd: #b81d5b;

$border-valid: green;
$border-invalid: red; // цвет для обязательных полей
$focus-color: #80bdff; // Цвет активного поля


// Цвета кнопок
$btn-add-color: $white;
$btn-add-color-hover: $white;
$bgc-btn-add: #00d68f;
$bgc-btn-add-hover: #2ce69b;
$btn-shadow-add: #0b2e13;

$btn-del-color: $white;
$btn-del-color-hover: $white;
$bgc-btn-del: #ff3d71;
$bgc-btn-del-hover: #ff708d;
$btn-shadow-del: #721c24;

// ====== Блок меню =======
$menu-li-hover: #598bff;
$icon-color: #8f9bb3;
$menu-li: #1a2138;
$bd-menu: #edf1f7;
$bg-menu: #eee;
$color-active: #36f;

// =======tables========
$bgc-th: #2f3074;
$bd-th: #a1a1a1;
$row-light: #edf1f7;
$tr-hover: rgba(134, 182, 255, 0.3);
$table-bd: #dee2e6;




