//Цвета бордеров
$border-fieldset: rgba(180, 180, 180, 0.5); //рамка блока fieldset на странице создания чека
$border-normal: #ced4da;
$border-required: #d8b6b6;


$required-color: red; // цвет для обязательных полей
$focus-color: #80bdff; // Цвет активного поля

// Цвета кнопок
$bgc-btn-del: rgba(190, 0, 0, 0.36);
$btn-shadow-del: #721c24;
$bgc-btn-add: rgba(162, 195, 170, 0.5);
$bgc-btn-add-hover: rgba(0, 82, 20, 0.5);
$btn-shadow-add: #0b2e13;

// Основные цвета
$black: black;
$white: white;
$gray333: #333;



